.footer
  background-color: #000
  color: #fff
  text-align: center
  padding: 20px 0
  position: absolute
  bottom: 0
  width: 100%

html, body, #root
  height: 100% // S'assure que la hauteur totale inclut le footer
