@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

.footer
  background-color: #000
  color: #fff
  text-align: center
  padding: 20px 0
  position: relative
  bottom: 0
  width: 100%
  margin-top: auto

  .logofooter
    display: flex
    max-height: 40px
    height: 40px
    justify-content: center
    margin-bottom: 10px
