$primary-color: #ff6b6b
$secondary-color: #fff
$text-color: #333

.dropdown
  width: 80%
  margin: 10px auto
  border-radius: 5px
  overflow: hidden

  &-header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 15px
    background-color: $primary-color
    color: $secondary-color
    cursor: pointer

    h3
      margin: 0

    .arrow
      transition: transform 0.3s ease

      &.rotate
        transform: rotate(-180deg)

  &-content
    padding: 15px
    background-color: #F6F6F673
    color: $text-color
    border-top: 1px solid $primary-color
    display: block
